@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
h2 {
    font-family: 'Della Respira', serif;
}

nav {
    width: 80px;
    height: 100vh;
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
}

nav #list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav #list a {
    text-decoration: none;
    color: white;
}

nav #list a ion-icon {
    width: 30px;
    height: 30px;
}

nav .active {
    background-color: white;
}

nav #list li {
    position: relative;
    padding: 10px 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav #list .active a {
    color: black;
}
header .searchbar .search{
    width: 38px;
    height: 38px;
    right: -4px;
    position: absolute;
}
header {
    /* margin-top: 20px; */
    /* border: 1px solid black;
     */
    height: 61.2px;
    width: calc(100% - 80px);
    position: fixed;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    background:linear-gradient(rgb(151, 151, 151),white);
    overflow: hidden;
    z-index: 188888;
    /* rgb(247, 239, 239) */
}

header .logo ion-icon {
    width: 100%;
    height: 100%;
}

header .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .name {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 10;
    height: 100%;
}

header .name p {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 4rem;
    letter-spacing: 30px;
    margin-left: 90px;
    transition: 1s;
}

header .searchbar {
    /* overflow: hidden; */
    transition: 1s;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    flex: 5;
    height: 100%;
}

header .searchbar #searchbar {
    width: 200px;
    padding: 5px 10px;
    text-align: center;
    font-size: 1rem;
    transition: 1s;
    height: 30px;
    /* background-color: gray; */
    border: none;
    outline: none;
    border-radius: 20px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; */
}

header .searchbar ion-icon {
    width: 50px;
    height: 50px;
    right: 0px;
    position: absolute;
}

/* OFFER SECTION */
.offer {
    transform: translateX(3%);

    overflow: hidden;
    margin: 150px auto;
    width: 79.2%;
    height: 300px;
    /* border: 1px solid black; */
}
.offer .offer-prev-btn .prev{
    background-color: white;
    border: none;
    box-shadow:  1px 5px 0 rgb(0 0 0 / 11%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.offer .offer-next-btn .next{
    background-color: white;
    border: none;
    box-shadow:  1px 5px 0 rgb(0 0 0 / 11%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.offer .scroll-image {
    transition: 1s;
    display: flex;
    margin-left: 0;
    width: 400%;
}

.offer-prev-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1%;
}

.offer-next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1%;
}

.offer-next-btn ion-icon {
    width: 60px;
    height: 60px;
}

.offer-prev-btn ion-icon {
    width: 60px;
    height: 60px;
}

.most-viewed {

    height: 500px;
    width: 79.2%;
    /* border: 2px solid black; */
    margin: 100px auto;
    text-align: center;
    transform: translateX(3%);
    overflow: hidden;
    
}

.most-viewed .card-scroll {
    transition: 1s;
    height: 450px;
    width: 300%;
    margin-left: 0px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.most-viewed .viewed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.77%;
    height: 400px;
    margin: 10px;
    /* justify-content: center; */
    /* text-align: center; */
    /* border: 2px solid black; */
    border-radius: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.most-viewed .viewed-card img {
    margin: 25px auto;
}

.most-viewed h2::after {
    content: '';
    transform: scaleX(0);
    transition: 0.8s;
    position: absolute;
    height: 3px;
    /* bottom: 0px; check why it is not working*/
    top: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 18%;
    background: black;
}
.most-viewed:hover h2::after{
    transform: scaleX(1);
}
.most-viewed .viewed-card button{
    border: 2px solid black;
    margin-top: 20px;
    width: 200px;
    height: 35px;
    background-color: #f5ded2;
    position: absolute;
    bottom: 65px;
}
.most-viewed .viewed-card p{
    width: 200px;
    height: 93px;
    overflow: hidden;
    text-align: left;
}
footer{
    width: calc(100% - 80px);
    height: 200px;
    /* background-color: #282A35; */
    background-color: #1a1b26;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
}
footer div{
    text-align: left;
    padding-top:40px;
    padding-left: 70px;
}
footer .footer-title{
    font-size: 10px;
    margin-bottom:20px;
}
footer div > p:not(:first-child){
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
}
footer  div:last-child input{
    margin-top:30px;
    width: 180px;
    border:1px solid white;
    outline: none;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    margin-right: 20px;
    border-radius: 4px;
    color:white;
}
footer  div:last-child button{
    background-color: white;
    color:#1a1b26;
    padding:10px 10px;
    border-radius: 4px;
}
footer  div:last-child input::placeholder{
    color:white;
}
footer div p{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
/* Mostviewed Button  */
.mostviewed-prev-btn{
    position:absolute;
    top:940px;
    left:150px;
}
.mostviewed-next-btn{
    position:absolute;
    top:940px;
    right:80px;
}
.mostviewed-prev-btn  ion-icon{
    width: 60px;
    height: 60px;
}
.mostviewed-next-btn  ion-icon{
    width: 60px;
    height: 60px;
}
.mostrated-prev-btn{
    position:absolute;
    top:1536px;
    left:150px;
}
.mostrated-next-btn{
    position:absolute;
    top:1536px;
    right:80px;
}
.mostrated-prev-btn  ion-icon{
    width: 60px;
    height: 60px;
}
.mostrated-next-btn  ion-icon{
    width: 60px;
    height: 60px;
}

/* section categories--------------------------------------------------------- */
.categories{
    width: calc(100% - 80px);
    /* transform: translateX(5.1%); */
    transform: translate(5.1%,100px);
    height: 120px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* box-shadow: 0px -8px 10px lightgrey; */
    /* box-shadow: 0 2px 3px -1px lightgray; */
    box-shadow: 0px 15px 10px -15px #111; 
    display: grid;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows: 1fr;
}
.categories div{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.categories div p{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.categories div img{
    width: 80px;
    height: 80px;
}